#!/usr/bin/env python
PACKAGE = "RoboticsProject"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


integration_enum = gen.enum([gen.const("Euler",int_t, 0, "Euler integration"),
                            gen.const("RungeKutta",int_t, 1, "Runge Kutta integrstion")],
                      "Enum of integration methods")

gen.add("integration", int_t, 2, "Format of count", 0, 0, 1, edit_method=integration_enum)


exit(gen.generate("RoboticsProject", "OdometryCore", "parameters"))
